{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <br />
            <h3>
                <span id="restaurant_name_label"></span>
                <a id="restaurant_url" href="#">
                    <span id="restaurant_name">Selection of the restaurant and generation of the itinerary...</span>
                </a>
            </h3>
        </div>
        <div class="col-md-6 text-right">
            <br />
            <h5><span id="restaurant_distance"></span></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span id="geolocation"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="mapdiv"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <br /><br />
            <img src="{{ url_for('.static', filename = './img/logo.png') }}" height="30" alt="La baguette" title="La baguette" />
        </div>
    </div>
</div>

<script type="text/javascript" class="source">
var restaurant = {};
var latitude = null;
var longitude = null;

$(document).ready(function() {
    getLocation();
})

function init(position) {
    latitude = position.coords.latitude;
    longitude = position.coords.longitude;
    get_restaurant(latitude, longitude);
}

function get_restaurant(latitude, longitude) {
      var currentDate = new Date();
        $.ajax({
        type: 'GET',
        url: "/json?latitude="+latitude+"&longitude="+longitude,
        async:false,
        success: function(data) {
            restaurant = data;
            document.getElementById("restaurant_name_label").innerHTML = "On mange ici: " ;
            document.getElementById("restaurant_name").innerHTML = restaurant["name"];
            try {
                document.getElementById("restaurant_distance").innerHTML = ""
                        + Number((restaurant["distance"]).toFixed(1)) +
                        " meters from you by " + restaurant["transport"];
            } catch (e) {}
            document.getElementById("restaurant_url").setAttribute("href", restaurant["url"]);

            create_map(latitude, longitude);
        },
        error: function(XMLHttpRequest, textStatus, errorThrown){
            //document.getElementById("geolocation").innerHTML = XMLHttpRequest.responseText;
        }
    }); // ajax closed
}

function create_map(latitude, longitude) {
    var zoom=18;
    var popupClass, popupContentHTML;
    AutoSizeAnchoredMinSize = OpenLayers.Class(OpenLayers.Popup.Anchored, {
    'autoSize': true,
    'minSize': new OpenLayers.Size(10,10)
    });
    map = new OpenLayers.Map("mapdiv" , {
        controls:[
            new OpenLayers.Control.Navigation(),
            new OpenLayers.Control.PanZoomBar(),
            new OpenLayers.Control.LayerSwitcher(),
            new OpenLayers.Control.Attribution()]});

    var osm = new OpenLayers.Layer.OSM();
    map.addLayers([osm]);

    var lonLatCenter = new OpenLayers.LonLat(restaurant["coordinates"]["long"], restaurant["coordinates"]["lat"]).transform(
                                                new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
    map.setCenter(lonLatCenter, zoom);


    var lineLayer = new OpenLayers.Layer.Vector('Itinerary');
    map.addLayer(lineLayer);
    var points = new Array();
    for (point in restaurant['shortest_path'])
    {
        points.push(new OpenLayers.Geometry.Point(parseFloat(restaurant['shortest_path'][point]['long']), parseFloat(restaurant['shortest_path'][point]['lat'])));
    }
    var way = new OpenLayers.Geometry.LineString(points);
    var defaultProj = new OpenLayers.Projection("EPSG:4326");
    way = way.transform(defaultProj, map.getProjectionObject());
    var style = {
        strokeColor: '#0000ff',
        strokeOpacity: 0.5,
        strokeWidth: 5
        };
    wayFeature = new OpenLayers.Feature.Vector(way, null, style);
    lineLayer.addFeatures([wayFeature]);


    restaurant_location = new OpenLayers.Layer.Markers("Restaurant");
    map.addLayer(restaurant_location);

    var restaurant_marker = new OpenLayers.LonLat(restaurant["coordinates"]["long"], restaurant["coordinates"]["lat"]).transform(
                                                new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
    popupClass = AutoSizeAnchoredMinSize;
    popupContentHTML = '<p><h1><a href="'+restaurant["url"]+'">'+restaurant["name"]+'</a></h1></p>';
    if (null != restaurant["tel"]  && restaurant["tel"] != "")
    {
        popupContentHTML = "".concat(popupContentHTML, '<p><span class="glyphicon glyphicon-phone-alt"></span> <a href="tel:'+restaurant["tel"]+'">'+restaurant["tel"]+'</a></p>');
    }
    if (null != restaurant["comment"]  && restaurant["comment"] != "")
    {
        popupContentHTML = "".concat(popupContentHTML, '<p><span class="glyphicon glyphicon-comment"></span> '+restaurant["comment"]+'</p>');
    }
    if (null != restaurant["picture"]  && restaurant["picture"] != "")
    {
        popupContentHTML = "".concat(popupContentHTML, '<img src="' + restaurant["picture"] + '" width="400px" height="300px" />');
    }
    addMarker(restaurant_marker, popupClass, popupContentHTML, true, true, "/static/js/img/marker-green.png", restaurant_location);
}
</script>
{% endblock %}
