{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Available restaurants (<span id="nb_restaurants"></span>)</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="mapdiv"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Symbols</h3>
            <div class="col-md-4">
                <h4>Vel'oh !</h4>
                <img src="{{ url_for('.static', filename='js/img/marker-blue.png') }}" /> Available bikes
                <br /><br />
                <img src="{{ url_for('.static', filename='js/img/marker-red.png') }}" /> No available bikes
            </div>
            <div class="col-md-4">
                <h4>Misc</h4>
                <img src="{{ url_for('.static', filename='js/img/marker-gold.png') }}" /> Parking lots
                <br /><br />
                <img src="{{ url_for('.static', filename='js/img/marker-green.png') }}" /> Restaurants
            </div>
        </div>
        <div class="col-md-4">
            <h3>Restaurants</h3>
            <p>You can also get the <a href="https://gitlab.com/cedric/cedric-onmange-ou/blob/master/refuge/var/restaurants.json">list of restaurants</a> by this way:<br /><code>$ GET https://cedric-onmange-ou.herokuapp.com/list/json</code></p>
        </div>
    </div>
</div>

<script type="text/javascript" class="source">
var restaurants = [];
var bikes = {};

$(document).ready(function() {
    get_restaurants();
    document.getElementById("nb_restaurants").innerHTML = restaurants.length;
})

function get_restaurants() {
    $.ajax({
        type: 'GET',
        url: "/list/json",
        async:false,
        success: function(data) {
            restaurants = data["restaurants"];
        },
        error: function(XMLHttpRequest, textStatus, errorThrown){
            //document.getElementById("geolocation").innerHTML = XMLHttpRequest.responseText;
        }
    }); // ajax closed

    create_map();
}

function create_map() {
    var zoom=9;
    var centerLatitude=49.3980;
    var centerLongitude=6.5575;
    var popupClass, popupContentHTML;
    AutoSizeAnchoredMinSize = OpenLayers.Class(OpenLayers.Popup.Anchored, {
    'autoSize': true,
    'minSize': new OpenLayers.Size(10,10)
    });

    map = new OpenLayers.Map("mapdiv" , {
        controls:[
            new OpenLayers.Control.Navigation(),
            new OpenLayers.Control.PanZoomBar(),
            new OpenLayers.Control.LayerSwitcher(),
            new OpenLayers.Control.Attribution()]});

    var osm = new OpenLayers.Layer.OSM();
    map.addLayers([osm]);

    var lonLatCenter = new OpenLayers.LonLat(centerLongitude, centerLatitude).transform(
                                                new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
    map.setCenter(lonLatCenter, zoom);

    restaurants_location = new OpenLayers.Layer.Markers("Restaurants");
    map.addLayer(restaurants_location);
    for (restaurant in restaurants)
    {
        var restaurant_marker = new OpenLayers.LonLat(restaurants[restaurant]["coordinates"]["long"], restaurants[restaurant]["coordinates"]["lat"]).transform(
                                                    new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
        popupClass = AutoSizeAnchoredMinSize;
        popupContentHTML = '<p><h1><a href="'+restaurants[restaurant]["url"]+'">'+restaurants[restaurant]["name"]+'</a></h1></p>';
        if (null != restaurants[restaurant]["tel"]  && restaurants[restaurant]["tel"] != "")
        {
            popupContentHTML = "".concat(popupContentHTML, '<p><span class="glyphicon glyphicon-phone-alt"></span> <a href="tel:'+restaurants[restaurant]["tel"]+'">'+restaurants[restaurant]["tel"]+'</a></p>');
        }
        if (null != restaurants[restaurant]["comment"]  && restaurants[restaurant]["comment"] != "")
        {
            popupContentHTML = "".concat(popupContentHTML, '<p><span class="glyphicon glyphicon-comment"></span> '+restaurants[restaurant]["comment"]+'</p>');
        }
        if (null != restaurants[restaurant]["picture"]  && restaurants[restaurant]["picture"] != "")
        {
            popupContentHTML = "".concat(popupContentHTML, '<img src="' + restaurants[restaurant]["picture"] + '" width="400px" height="300px" />');
        }
        addMarker(restaurant_marker, popupClass, popupContentHTML, true, true, "/static/js/img/marker-green.png", restaurants_location);
    }


    stations_location = new OpenLayers.Layer.Markers("Stations");
    stations_location.setVisibility(false);
    map.addLayer(stations_location);
    {% for station in stations %}

        var station{{ loop.index }} = new OpenLayers.LonLat({{ station["position"]["lng"] }}, {{ station["position"]["lat"] }}).transform(
                    new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
                    popupClass = AutoSizeAnchoredMinSize;

        {% if station["available_bikes"] == 0 %}
            popupContentHTML = "<p><b>{{ station["name"] }}</b><hr />No bikes available.</p>";
            addMarker(station{{ loop.index }}, popupClass, popupContentHTML, true, true, "/static/js/img/marker-red.png", stations_location);

        {% else %}
            popupContentHTML = "<p><b>{{ station["name"] }}</b><hr />Available bikes: {{ station["available_bikes"] }}</p>";
            addMarker(station{{ loop.index }}, popupClass, popupContentHTML, true, true, "/static/js/img/marker-blue.png", stations_location);
        {% endif %}

    {% endfor %}


    parkings_location = new OpenLayers.Layer.Markers("Parkings");
    parkings_location.setVisibility(false);
    map.addLayer(parkings_location);
    {% for parking in parkings %}

        var parking{{ loop.index }} = new OpenLayers.LonLat({{ parking.longitude }}, {{ parking.latitude }}).transform(
                    new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
        popupClass = AutoSizeAnchoredMinSize;
        popupContentHTML = '<p><b>{{ parking.title }}</b><hr />Total places: {{ parking.total_places }}<br />Available places: {{ parking.available_places }}<br /><a href="{{ parking.link }}">More information</a></p><img src="{{ parking.picture }}" width="250px" height="188px" />';
        addMarker(parking{{ loop.index }}, popupClass, popupContentHTML, true, true, "/static/js/img/marker-gold.png", parkings_location);

    {% endfor %}

}
</script>
{% endblock %}
